@font-face{font-family:interface;src:url(https://use.typekit.net/af/2837a6/00000000000000003b9ae112/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/2837a6/00000000000000003b9ae112/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/2837a6/00000000000000003b9ae112/27/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}

@font-face{font-family:interface;src:url(https://use.typekit.net/af/8882b8/00000000000000003b9ae115/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/8882b8/00000000000000003b9ae115/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/8882b8/00000000000000003b9ae115/27/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

/* this is so youtube embeds on campaigns don't bleed over into other columns  */
iframe[src*=youtube] {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 10px;
}

@mixin hide-facebook-registration {
  .registration-form > div.row {
    display: none;
  }
}

@mixin transparent-widget-background {
  div#grassroots-app > div.app > div.page > div.widget-row > div.page-col > div.widget-wrapper.widget-wrapper-1 > div.widget > div.widget {
    background-color: transparent !important;
  }
  div.widget > div.widget {
    background-color: transparent !important;
  }
}


$dark-gray: #333;
$white: #fff;

// make header not ugly 
.navbar-collapse {
  ul.dropdown-menu {
    background-color: white;
    border-radius: 4px; 
    a.internal-link {
      background-color: $white !important;
      &:hover {
        background-color: $white !important;
        color: $dark-gray !important;
      }
    }
  }
  ul.nav-wrapper {
    li.nav-dropdown a:hover {
      color: $white;
    }
    li.nav-dropdown a, a.internal-link:not(:hover) {
      color: $dark-gray;
    }
    li.nav-dropdown a[data-cy="user-nav-button"]:not(:hover) {
      color: $dark-gray !important;
    }
  }
  .nav-link-wrapper ul.nav-wrapper {
    a {
      &:hover, &:focus {
        color: white !important;
      }
      color: $dark-gray !important;
    }
    li.nav-dropdown {
      a.dropdown-toggle:hover, a.dropdown-toggle:focus {
        color: white !important;
      }
      ul.dropdown-menu {
        background-color: white;
        border-radius: 4px; 
        a.internal-link {
          background-color: transparent;
          &:hover {
            background-color: $white !important;
          }
        }
      }
    }
  } 
  .nav-link-wrapper ul.nav-wrapper a[data-cy="login"] {
    color: white !important;
  }
} 

span.icon-bar {
  color: $dark-gray !important;
  background-color: $dark-gray !important;
}

// remove ugly borders everywhere! 
@mixin better-borders {
  border: none !important;
  box-shadow: rgba(64, 64, 64, 0.6) 0px 0.75rem 1.25rem 1px !important;
}


div#grassroots-app div.page {
  // single campaign page! 
  div.page-col div.widget-wrapper div.campaign-wrapper {
    div.campaign-description a {
      color: #15c;
      &:hover {
        color: #15c;
      }
    }
    div.campaign-description-col div.campaign-description-col {
      
      @include better-borders;

      div.progress-bar-wrapper div.progress-bar-negative {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        border-right: 1px solid rgb(214, 46, 46);
        border-top: 1px solid rgb(214, 46, 46);
        border-bottom: 1px solid rgb(214, 46, 46);
      }
    } 
    div.column-widget div.column-widget {
      @include better-borders;
    }
  }
  // main page!
  div.campaign-list div.campaign-inline a div.campaign-inline {
    @include better-borders;
  }
}

/* start KCEN site embeds */

body.sign_up-2791 {
  @include hide-facebook-registration;
}

/* both kcen website registration pages */
div.widget.sc-jDwBTQ.ckfRgp,
div.widget.sc-ckVGcZ.jfGWiW,
body.sign_up-2415, 
body.sign_up-2445 {
  @include transparent-widget-background;
  
  background-color: transparent;
  /* hide facebook */
  .registration-form > div.row {
    display: none;
  }

  a, input, label, span, textarea {
    font-family: interface !important;
  }
  label {
    color: white;
  }
  button, input, textarea {
    border-radius: 0 !important;
  }

  button {
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    letter-spacing: 0.8px;
    padding: 15px 20px;
    width: unset;
  }
  div[data-cy="thank-you-text"] span {
    color: white;
  }
}


//sign_up-2145 is the full registration form 
body.sign_up-2415 {
  button[type=submit] {
    text-transform: uppercase;
  }

  .form-input-error {
    color: #d62e2e !important;
  }

}

//sign_up-2445 is the just email signup form 
body.sign_up-2445 {
  overflow: hidden; 

  div#grassroots-app div.app div.page div.widget-row div.page-col div.widget-wrapper div.widget > div.widget {
    padding-left: 12px !important;
  }
  
  .form-input-error {
   color: white !important;
  }

  .form-input-header {
   color: white; 
  }

  div[data-cy="thank-you-text"] {
    color: white;
  }
  
  // no check mark 
  i.thanks-icon {
    display: none;

  }
  button[type="submit"] {
    color: black !important;
    background-color: white;
    border-color: white;
    border-radius: 0;
    opacity: 1 !important;
    &:hover {
      background-color: white !important;
    }
  }

  div.form-input-field {
    max-width: 400px;
  }

  hr {
    display: none;
  }
}

/* end KCEN site embeds */
